header {
  text-align: center;
  max-width: 350px;
  margin-bottom: 20px;
}

h1 {
  color: #f9f4da;
  font-size: clamp(1.15rem, 1.25rem, 1.75rem);
  font-weight: 500;
}

h2 {
  color: #f9f4da;
  font-size: clamp(1.1rem, 1.15rem, 1.5rem);
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.instructions {
  color: #8e8e8e;
  font-size: clamp(0.875rem, 1rem, 1.25rem);
}

.notice {
  display: block;
  max-width: 350px;
  padding: 6px;
  border-radius: 4px;

  text-align: center;
}

.notice p {
  color: #f9f4da;
  font-size: clamp(0.875rem, 1rem, 1.25rem);
  margin: 0;
}

.notice.won {
  background-color: #10a95b;
}

.notice.lost {
  background-color: #ba2a2a;
}

.notice.farewell {
  background-color: #7a5ea7;
  border: 1px dashed #323232;
}

.languages-container {
  max-width: 350px;
  display: block;
  margin-top: 36px;
}

ul {
  list-style: none;
  padding: 0;
}

.languages-container ul {
  display: flex;
  justify-content: center;
  gap: 3px;
  flex-wrap: wrap;
}

li {
  position: relative;
  border-radius: 4.5px;
  padding: 5px;

  font-size: 12px;
  font-weight: bold;
}

li.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.letter-container {
  margin-top: 36px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 2px;
  align-items: center;
  justify-content: center;
}

.letter-wrapper {
  background-color: #323232;
  padding: 8.5px 6.5px;
  width: 40px;
  height: 40px;
  border-bottom: 1px solid #f9f4da;
  text-align: center;
}

.letter {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  color: #f9f4da;
}

.missing-letter {
  color: #ec5d49;
}

.keyboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-top: 60px;
}

.key {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 6px;

  background-color: #fcba29;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;

  color: #1e1e1e;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}

.key:hover,
.key:focus {
  transition: all 0.3s ease-in-out;
  background-color: #de9d12;
}

.red {
  background-color: #ec5d49;
}
.key.red:hover,
.key.red:focus {
  transition: all 0.3s ease-in-out;
  background-color: #ec5d49;
}

.green {
  background-color: #10a95b;
}
.key.green:hover,
.key.green:focus {
  transition: all 0.3s ease-in-out;
  background-color: #10a95b;
}

.key.disabled,
.key.green.disabled,
.key.red.disabled {
  opacity: 0.5;
}

.new-game {
  margin: 45px auto 0;
  display: block;
  min-width: 100%;

  background-color: #11b5e5;
  color: #1e1e1e;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  padding: 15px 25px;
  font-size: 1rem;
  font-weight: bold;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
